@import url(http://fonts.googleapis.com/css?family=Parisienne&subset=latin,latin-ext);

h1.quote {
    color: black;
    text-shadow: 0 0 2px white;
    font-family: 'Parisienne', cursive;
    font-weight: normal;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

